:root {
    --bg-color: #222;
    --primary-color: #ffbb00;
    --primary-color-hvr: rgba(255, 187, 0, 0.5);
    --tggle-color: rgba(255, 187, 0, 0.2);
}

html {
    box-sizing: content-box;
}
body {
    font-family: Poppins, sans-serif;
	background-color: var(--bg-color);
    color: var(--primary-color);
}

/* global elements
===============================================*/
hr {
    margin-top: 0px;
    border: 1px solid var(--primary-color);
}
.container h2 {
    text-align: center;
}
h3 {
    margin: 15px 0;
    color: var(--primary-color);
    font-size: 25px;
}
.container>div>p {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
input[type=text],
select {
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    font-size: 25px;
    color: var(--primary-color);
}
input[type=text]:focus, select:focus {
    outline: none;
    box-shadow: 0px 0px 3px var(--primary-color);
}
input[type=text] {
    width: 90%;
    height: 40px;
    text-align: end;
    padding: 0 5px;
}
select {
    height: 42px;
    padding: 5px 15px;
    font-size: 25px;
}
button {
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 36%;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--bg-color);
}
button:hover {
    background-color: var(--primary-color-hvr);
}
button:focus {
    outline: none;
    box-shadow: 0px 0px 3px var(--primary-color);
}
button:active {
    background-color: var(--primary-color-hvr);
}

::placeholder {
    color: var(--primary-color);
    opacity: 0.3;
}

/* form
===============================================*/
.calc-bdy {
    max-width: 400px;
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto 15px auto;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
}
.calc-bdy>div:not(:last-child) {
    margin-bottom: 30px;
}
.calc-bdy>div:nth-child(1) {
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
}
.calc-bdy>div:nth-child(1) div:first-child {
    width: 70%;
    height: auto;
}
.calc-bdy div h3 {
    text-align: center;
}
.rcpt-tbl {
    width: 100%;
    font-size: 20px;
    color: var(--primary-color);
}
.rcpt-tbl .itm {
    font-weight: 600;
}
.rcpt-tbl .info {
    text-align: right;
}


/* toggle
===============================================*/
.tggle-wrppr {
    display: table;
    margin: auto;
}
.tggle-wrppr>div {
    display: inline-block;
}
.tggle-wrppr>div:first-child {
    margin: 0 15px 0 0;
}
.tggle-wrppr>div:last-child {
    margin: 0 0 0 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

/* toggle cavity color indciator */
input:checked+.slider {
    background-color: var(--tggle-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--tggle-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
